<ion-header>
  <ion-toolbar>
    <ion-title>{{ selectedEvento.nombre }}</ion-title>
    <ion-button color="success" shape="circle" fill="clear" (click)="dismiss()">
      <ion-icon name="arrow-back-circle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>
      Fecha Inicio:
     <p> {{ selectedEvento.fechaInicio | date : 'dd MMMM yyyy' }}</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Fecha Fin:
    <p>  {{ selectedEvento.fechaFin | date : 'dd MMMM yyyy' }}</p>
    </ion-label>
  </ion-item>
  <ion-item>
   <ion-label>Hora Inicio:
    <p>  {{ selectedEvento.horaInicio }} </p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
     Hora Fin:
     <p> {{ selectedEvento.horaFin }} </p>
     </ion-label>
   </ion-item>
   <ion-item>
    <label>
    Descripcion: 
    <br>
    <ion-text color="black"><p> {{ selectedEvento.descripcion }} </p></ion-text>
    </label>
  </ion-item>
</ion-content>
<ion-footer>
  <ion-button color="danger" shape="circle" fill="clear">
    <ion-icon name="trash-outline"></ion-icon>
  </ion-button>
  <ion-button color="tertiary" shape="circle" fill="clear">
    <ion-icon name="pencil-outline"></ion-icon>
  </ion-button>
</ion-footer>
