<ion-header>
  <ion-toolbar>
    <ion-title>{{ selectedEvento.nombre }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>
    Fecha Inicio: {{ selectedEvento.fechaInicio | date : 'dd MMMM yyyy' }}
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
    Fecha Fin: {{ selectedEvento.fechaFin | date : 'dd MMMM yyyy' }}
    </ion-label>
  </ion-item>
  <ion-item>
   <ion-label>
    Hora Inicio {{ selectedEvento.horaInicio }}
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
     Hora Fin {{ selectedEvento.horaFin }}
     </ion-label>
   </ion-item>
   <ion-item>
    <ion-label>
    Descripcion: {{ selectedEvento.descripcion }}
    </ion-label>
  </ion-item>


</ion-content>
