<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
 integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
 crossorigin=""></script>
 
<ion-header [translucent]="true">
  <ion-toolbar>
   <!-- <ion-title size="small">Mapa</ion-title>-->
   <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="search" (click)="busquedaModal()">
     <!-- <ion-button (click)="busquedaModal()" color="medium" fill="outline" shape="circle" size="small">-->
      <ion-icon name="search"></ion-icon>
    <!--  </ion-button>-->
    </ion-tab-button>
  
      <ion-tab-button tab="schedule" (click)="presentModal()">
     <!-- <ion-button (click)="presentModal()" size="small" fill="outline">-->
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Eventos</ion-label>
    <!--  </ion-button>-->
    </ion-tab-button>
  
    <ion-tab-button tab="add" (click)="addMarker()">
    <!--<ion-button (click)="addMarker()" color="success" fill="outline" shape="circle" size="small">-->
        <ion-icon name="add-circle-sharp"></ion-icon>
        <ion-label>Punto</ion-label>
     <!-- </ion-button>-->
     </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
  <!--  <ion-item slot="primary">
      <ion-button (click)="busquedaModal()" color="medium" fill="outline" shape="circle" size="small">
        <ion-icon name="search"></ion-icon>
      </ion-button>
      <ion-button (click)="presentModal()" size="small" fill="outline">Eventos
        <ion-icon name="chevron-down-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="addMarker()" color="success" fill="outline" shape="circle" size="small">Punto
        <ion-icon name="add-circle-sharp"></ion-icon>
      </ion-button>-->
      <!--<ion-label fill="clear" color="secondary">
        Elige un evento
      </ion-label>
      <ion-select [(ngModel)]="selectedEventId" (ionChange)="selectEvent($event)">
        <ion-select-option *ngFor="let event of eventList" [value]="event.id">{{event.nombre}}</ion-select-option>
        <ion-select-option [value]="-1">Nuevo Evento</ion-select-option>
      </ion-select>-->
     <!-- </ion-item>-->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content>
    <div id="map" style="height:100%; height: 100%" leaflet (leafletMapReady)="onMapReady($event)"></div>
  </ion-content>  
</ion-content>

