<ion-header>
  <ion-toolbar>
    <ion-title>Nuevo Evento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
  <ion-input placeholder="Nombre Evento" type="text" [(ngModel)]="nombre"></ion-input>
</ion-item>
<ion-item>
  <ion-input placeholder="Descripción" type="text" [(ngModel)]="descripcion"></ion-input>
</ion-item>
  <ion-item>
    <ion-label position="floating">Fecha Inicio</ion-label>
    <ion-datetime displayFormat="DD/MM/YYYY" type="text" min="2020-03-14" max="2022-12-31" [(ngModel)]="fechaInicio"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Fecha Fin</ion-label>
    <ion-datetime displayFormat="DD/MM/YYYY"  type="text" min="2020-03-14" max="2022-12-31"  [(ngModel)]="fechaFin"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Hora Inicio</ion-label>
    <ion-datetime placeholder="(12pm - medio día)" type="text" displayFormat="h:mm a"  [(ngModel)]="horaInicio"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Hora Fin</ion-label>
    <ion-datetime placeholder="(12pm - medio día)" type="text" displayFormat="h:mm a" [(ngModel)]="horaFin"></ion-datetime>
  </ion-item>
</ion-content>
<ion-footer>
  <ion-button (click)="newEvento()" color="success">Crear Evento</ion-button>
</ion-footer>
